#collapsibleNavbar > ul.navbar-nav.ml-auto > li a{
    padding: 20px 10px;
    color:#95d1a3;
}
#collapsibleNavbar > ul.navbar-nav.ml-auto > li:hover a, #collapsibleNavbar > ul:nth-child(1) > li:hover a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#side-div > .container > .row{
    height: 400px;
    overflow: auto;
    border: 1px solid black;
    border-radius: 5px;
}
#side-div > .container > .row h5{
    padding: 5px 10px;
}
#side-div #side-header{
    background: #51a846;
}
#side-div > .container{
    border: 1px solid tomato;
}