/* <<<<<============== Navbar ==================>>>> */
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    border-bottom: .5px solid rgba(53, 53, 53, 0.637);
    background: rgb(12, 12, 12);
}
/* <<<<<============== End Navbar ==================>>>> */

/* ================== Side divs overflow control ================ */
/* 1 */

body > div.container-fluid.d-flex.flex-row.mt-5 > div.col-lg-4.col-sm-12.side-div > div.container-fluid{
    height: 450px;
    overflow-y: scroll;
}
body > div.container-fluid.d-flex.flex-row.mt-5 > div.col-lg-4.col-sm-12.side-div > h4{
    padding: 7px 7px;
    width: 110px;
    margin-bottom: 0%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
body > div.container-fluid.d-flex.flex-row.mt-5 > div.col-lg-4.col-sm-12.side-div > hr{
    height: 4px;
}

/* 2 */
#news-gallery > div.col-lg-4.col-sm-12.side-div h4{
    padding: 7px 7px;
    width: 80px;
    margin-bottom: 0%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#news-gallery > div.col-lg-4.col-sm-12.side-div hr{
    height: 4px;
}
/* ================== End overflow control ================ */

/* ================== Two div without overflow control ================ */
body > div:nth-child(3) > div:nth-child(1) > div h4{
    padding: 7px 7px;
    width: 90px;
    margin-bottom: 0%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
body > div:nth-child(3) > div:nth-child(2) > div h4{
    padding: 7px 7px;
    width: 110px;
    margin-bottom: 0%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
body > div:nth-child(3) > div > div hr{
    height: 4px;
}
/* ================== End Two div without overflow control ================ */

/* <<<<<<=========== Make the image fully responsive ==========>>>>>*/
.carousel-inner img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }
#main-slider #demo{
    height: 450px;
    overflow: hidden;
}
#main-slider #demo > .carousel-inner > div{
    position: relative;
}
#main-slider #demo > .carousel-inner > div .caption{
    position: absolute;
    width: 100%;
    height: 180px;
    top: 280px;
    color: white;
    left: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: rgba(19, 19, 19, 0.801);
}

/* <<<<<<=========== End Make the image fully responsive ==========>>>>>*/


/* <<<<<============== sub-menu ==================>>>> */
#line{
    background: #048BDA;
    width: 100%;
    height: 10px;
}

/* <<<<<============== End sub-menu ==================>>>> */


/* <<<<<============== start Gallery ==============>>>>> */
/* start Header */
#news-gallery > div.col-lg-8.col-sm-12 h4{
    padding: 7px 7px;
    width: 140px;
    margin-bottom: 0%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#news-gallery > div.col-lg-8.col-sm-12 hr{
    height: 4px;
}
/* End Header */
#news-gallery > div:nth-child(1){
    width: 75%;
}
#news-gallery > div.col-lg-8.col-sm-12 > div.container-fluid > div.container{
    position: relative;
}
#news-gallery > div.col-lg-8.col-sm-12 > div.container-fluid > div > div{
    position: absolute;
    width: 299px;
    height: 80px;
    top: 70px;
    left: 16px;
    color: white;
    background: rgba(0, 0, 0, 0.616);
    right: 0px;
}
#news-gallery > div.col-lg-8.col-sm-12 > div.container-fluid > div.container{
    width: 300px;
    height: 200px;
}

/* <<<<<============== End Gallery ==============>>>>> */

/* <<<<<============== footer ==================>>>>> */
footer > div:nth-child(1){
    height: 200px;
}
body > footer > div > div.container-fluid.d-flex.flex-column > ul:nth-child(1){
    margin-top: 30px;
    list-style: none;
    height: 45px;
    display: flex;
}
body > footer > div.container-fluid.d-flex.flex-row > div > ul:nth-child(1) > li a{
    padding: 10px 30px;
}
body > footer > div.container-fluid.d-flex.flex-row > div > ul:nth-child(1) li:hover a{
    color: white;
    background-color: #17A2B8;
}
/* second ul */
body > footer > div > div.container-fluid.d-flex.flex-column > ul:nth-child(2){
    list-style: none;
    height: 45px;
    display: flex;
    margin-top: 10px;
    margin-left: 110px;
}
body > footer > div.container-fluid.d-flex.flex-row > div > ul:nth-child(2) li a span{
    font-size: 30px;
    color: rgb(185, 185, 185);
}
body > footer > div.container-fluid.d-flex.flex-row > div > ul:nth-child(2) li a span:hover{
    color: rgb(201, 36, 6);
}
/* end second ul */
body > footer > div.container-fluid.d-flex.flex-row > form{
    margin: 50px 0 0 500px
}
footer{
    background: #0C0C0C;
}
/* <<<<<============== End footer ==============>>>>> */

